---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import CounterSolid from '../components/solid/Counter'
import CounterSvelte from '../components/svelte/Counter.svelte'
import CounterReact from '../components/react/Counter'

const text: string = 'Astro in Express'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>
			<img src="/images/icon.svg"></image>
			Welcome to <span class="text-gradient">{text}</span>
		</h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/"
				title="Back to Express"
				body=""
			/>
			<Card
				href="/astro-page-2"
				title="Go to Astro Page 2"
				body=""
			/>
		</ul>
		<ul>
			<li>
				<!-- Solid component (use client:only to allow interactivity) -->
				<CounterSolid client:only="solid"></CounterSolid>
			</li>
			<li>
				<!-- Svelte component (use client:only to allow interactivity)-->
				<CounterSvelte client:only="svelte"></CounterSvelte>
			</li>
			<li>
				<!-- React component (use client:only to allow interactivity)-->
				<CounterReact client:only="react"></CounterReact>
			</li>
		</ul>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	main h1 img {
		width: 50px;
	}
</style>
